<ul class="list-unstyled">
  <li><%= link_to "Change Reports", report_changes_path %></li>
  <li><%= link_to "Low Items In Inventory", report_low_path %></li>
  <li><%= link_to "Inventory On Hand", report_on_hand_path %></li>
  <li><%= link_to "Value on Hand", report_value_path %></li>
  <li><%= link_to "Turn Over", report_turnover_path %></li>
</ul>