<ul class="list-unstyled">
  <li>Total: <%= @total %></li>
  <li>Warehouse: <%= @warehouse %></li>
  <li>Cotswold: <%= @cotswold %></li>
  <li>BDBox: <%= @bdbox %></li>
  <li>Blacklioin: <%= @blacklion %></li>
</ul>