<h2><span class="glyphicon glyphicon-list-alt"></span>   Inventory On Hand</h2>
<br>
<br>

<div class="container" align="left">
<ul class="list-group">
	<li class="list-group-item"> Total: <span class="badge"><%= @total %></span></li>
<li class="list-group-item"> Warehouse: <span class="badge"><%= @warehouse %></span></li>
<li class="list-group-item"> Cotswold: <span class="badge"><%= @cotswold %></span></li>
<li class="list-group-item"> BDBox: <span class="badge"><%= @bdbox %></span></li>
<li class="list-group-item"> Blacklion: <span class="badge"><%= @blacklion %></span></li>
</ul>
</div>
