<p id="notice"><%= notice %></p>

<%= form_tag(products_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Products..." %>
      <button class="btn" type="submit"></button>
      <br>

      <%= radio_button_tag :field, :title, true %>
      <%= label_tag :field_title, "Title" %>
      <%= radio_button_tag :field, :sku, (true if params[:field] == 'sku') %>
      <%= label_tag :field_sku, "SKU" %>
      <%= radio_button_tag :field, :collection, (true if params[:field] == 'collection') %>
      <%= label_tag :field_sku, "Collection" %>
    </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Sku</th>
      <th>Color</th>
      <th>Collection</th>
      <th>Notes</th>
      <th>Inventory</th>
      <th>Cost</th>
      <th>Wholesale</th>
      <th>Retail</th>
      <th>Selling</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <% if current_user.try(:admin?) %>
      <tr class="product-row" data-link="<%= edit_product_path(product) %>">
    <% else %>
      <tr class="product-row" data-link="<%= product_path(product) %>">
    <% end %>
        <td><%= product.title %></td>
        <td><%= product.sku %></td>
        <td><%= product.color %></td>
        <td><%= product.collection %></td>
        <td><%= product.warehouse_inventory + product.bdbox_inventory + product.blacklion_inventory + product.cotswold_inventory %></td>
        <td><%= product.cost %></td>
        <td><%= product.notes %></td>
        <td><%= product.wholesale %></td>
        <td><%= product.retail %></td>
        <td>
          <% if product.selling %>
          &#10004
          <% else %>
          &#10008
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
