<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Sku</th>
      <th>Color</th>
      <th>Collection</th>
      <th>Inventory</th>
      <th>Cost</th>
      <th>Notes</th>
      <th>Wholesale</th>
      <th>Retail</th>
      <th>Selling</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.sku %></td>
        <td><%= product.color %></td>
        <td><%= product.collection %></td>
        <td><%= product.warehouse_inventory + product.bdbox_inventory + product.blacklion_inventory + product.cotswold_inventory %></td>
        <td><%= product.cost %></td>
        <td><%= product.notes %></td>
        <td><%= product.wholesale %></td>
        <td><%= product.retail %></td>
        <td><%= product.selling %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
